.custom-link {
  text-decoration: none;
  color: inherit;
}

.shortDescription {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Shorter text for when there is an image */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.longDescription {
  display: -webkit-box;
  -webkit-line-clamp: 9; /* Longer text for when there is no image */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}